# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project generated folders
nasa/data/
nasa/workspaces/

# Large Datasets (>100MB)
Oxford/Oxford_Battery_Degradation_Dataset_1.mat
Oxford_Battery_Degradation_Dataset_1.mat

